__pycache__/
__pycache__
*.py[cod]
*$py.class
*.so

venv/
env/
.venv/
.env
ENV/

build/
dist/
*.egg-info/
.eggs/
*.egg

instance/
.webassets-cache

static/downloads/*

!static/downloads/.gitkeep



.idea/
.vscode/
.vscode
*.swp
*.swo

.DS_Store
Thumbs.db
Desktop.ini
